.wrapper {
    display: flex;
    width: 100%;
    border: 1px solid #1ca2c4;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
}

.input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}