:root {
  --main-color: #1ca2c4;
}

body {
  font-family: "Montserrat", sans-serif;
}

input {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100vh;
}

.title {
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.content::-webkit-scrollbar {
  display: none;
}

.color__preview {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 20%;
  min-height: 100px;
  border: 1px solid #eee;
  margin: 10px;
  color: #ccc;
}

.top {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: auto;
  width: 100%;
  padding-top: 100px;
}

.top__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: white;
}

.list__wrapper {
  width: 100%;
  height: 1px;
  transition: all 2s;
}

@media screen and (max-width: 600px) {
  .content {
    width: 90%;
  }

  .color__preview {
    font-size: 12px;
    width: 40%;
  }

  .top__inner {
    padding-top: 20px;
    width: 100%;
  }
}
